:root {
	--white-bg: #F6F6F6;
	--black-bg: #1d1d1d;
	--white-text: #F6F6F6;
	--black-text: #383838;
	--content-text: #404952;
	--main-blue: #263D51;
	--bright-green: #A7CF3F;
	--light-green: #BFD27B;
	--gray-blue: #3D5D70;
	--text: 'Helvetica Neue', sans-serif;
	--primary-title: 29px;
	--transition: .6s;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
body,h1,h2,h3,h4,h5,h6,p,ul,li,a {font-family: var(--text);}

body, html {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font-size: 62.5%;
}
h1 {
	font-size: var(--primary-title);
	color: var(--black-text);
	line-height: 1.2em;
}
h2 {
	color: var(--black-bg);
	text-align: center;
	line-height: 1.2em;
	font-size: 18px;
}
p {
	text-align: center;
}
p, ul, ul li, a , li h2 {
	font-size: 16px;
	line-height: 1.7;
	font-weight: 400;
	color: var(--content-text);
}
li h2 {
	text-align: left;
	margin: 0;
}
ul {
	list-style: none;
}
.icon-list-items {
	padding-left: 0;
}
.icon-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}
.icon-list-icon i {
	color: var(--bright-green);
}
.icon-list-text {
	margin-left: 10px;
}
a {
	text-decoration: none;
}
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	position: fixed;
	z-index:999;
}
.container {
	max-width: 100%;
	width: 100%;
	padding: 0 15px;
	position: relative;
}
section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
	width: 100%;
}
section:nth-child(n+3) {
	padding: 5em 0;
}

section:nth-child(n+3) p {	
	text-align: left;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
img {
	max-width: 100%;
}
.buttons svg {
	max-height: 50px;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
.buttons svg:hover {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
}
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;
}
.buttons a .in-btn {
	position: relative;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
.buttons a .in-btn img {
	width: auto;
	max-height: 50px;
	max-width: 100%;
}
.buttons a .in-btn:hover {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
}
.green {
	color: var(--bright-green);
}

.desktop, .hidden, .o-desktop {
	display: none;
}
.desk {
	display: none;
}
.white :where(h1,h2,h3,h4,p,li) {
	color: var(--white-text);
}
.white :where(p,li) {
	font-weight: 400;
}
/* header  */
.menu ul {
	padding-left: 0;
}
/* banner */
section.main-banner, .sixth-section {
	overflow: hidden;
}
.banner-content h1 {
	margin-bottom: 0;
	font-size: 40px;
}
.bg-banner-img {
	position: absolute;
	overflow: hidden;
}
.bg-banner-img img {
	height: 100vh;
	max-width: unset;
}
.banner-content .wrapper {
	padding: 90px 0 0;
}
.banner-content .right  {
	margin-top: 3em;
}
.buttons {
	margin-top: 5em;
}

/* mobile screens */

.screens-wrapper .img-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.screens-wrapper .img-wrapper img {
	max-width: 50%;
	width: 180px;
}

.fourth-wrapper .left img:nth-child(odd),.screens-wrapper .img-wrapper img:nth-child(odd) {
	width: 150px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
	z-index: 1;
}
.screens .img-wrapper img:nth-child(odd) {
	width: 150px;
}
/* first section */

/*section.bg {
	background-image: url(../assets/strip.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
section.bg-2 {
	background-image: url(../assets/strip2.svg);
	background-size: cover;	
    background-repeat: no-repeat;
}
section.bg-inverted {
	background-image: url(../assets/strip3.svg);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: bottom;
}
section.bg-inverted-2 {
	background-image: url(../assets/strip3.svg);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: bottom;
}*/
.grey-bg, section:nth-child(2n-3) {
	background-color: #F3F3F3;
}
.first-content {
	margin-top: 5em;
}
/*awards*/
section#awards {
	background: var(--main-blue);
}
.awards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 5em 15px;
	overflow-y: scroll;
}
.a-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
	height: 130px;
	min-width: 240px;
}
.a-wrapper p {
	text-align: center;
	color: var(--white-text);
}
.a-img-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.a-img-box img {
	max-width: 100px;
}
.a-wrapper:nth-child(3) .a-img-box img {
	min-width: 178px;
}

/* three screens */

.screens-wrapper .img-wrapper.three-screens img:nth-child(1) {
	margin-right: -60px;
	z-index: 0;
}
.screens-wrapper .img-wrapper.three-screens img:nth-child(2) {
	z-index: 2;
}
.screens-wrapper .img-wrapper.three-screens img:nth-child(3) {
	margin-left: -60px;
	z-index: 0;
}
/* sixth section */
.sixth-section .left {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.phones-wrapper {
	position: relative;
	max-width: 180px;
}
.phones-wrapper img:nth-child(1) {
	position: relative;
	z-index: 2;
}
.phones-wrapper img:nth-child(n+2) {
	position: absolute;
	max-width: 89.5%;
	top: 1.9%;
	left: 50.5%;
	transform: translateX(-50%);
	border-radius: 19px;
	animation: phones;
	opacity: 0;
	transition: .6s;
}
.phones-wrapper .loop.active {
	opacity: 1;
}
@keyframes phones {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} 
/* eight section */
.eighth-section .left {
	max-width: 50%;
}
/* ninth section */
section.ninth-section {
	padding-bottom: 15em;
} 
.ninth-section a.register-btn {
	position: relative;
	top: 15px;
	margin-top: 2em;
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	fill: var( --bright-green );
	color: var( --bright-green );
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
.ninth-container a.register-btn:hover {
	fill: var( --main-blue );
	color: var( --main-blue );
}
/* footer */
footer {
	position: relative;
	background: var(--main-blue);
}
footer .footer-container {
	padding-top: 5em;
	padding-bottom: 5em;
	margin: 0 auto;
}
footer .footer-logo {
	margin: 0 auto;
	max-width: 100%;
}
footer .top :is(h2,p) {
	text-align: center;	
	color: var(--white-text);
}
footer h2 {
	font-size: 34px;
}

footer .top {
	padding: 5%;
}
footer .top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
footer .top-container .footer-logo {
	max-width: 250px;
}
footer .top-container .footer-content {
	width: 100%;
}
footer .social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}

footer .social-media a {
	color: var(--white-text);
	font-size: 24px;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
footer .social-media a:nth-child(n+2) {
	margin-left: 1em;
}
footer .bot {
	padding: 5em 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	text-align: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-top: 1px solid var(--white-bg);
}
footer .bot-box {
	min-width: 250px;
}
footer .bot a {
	color: var(--main-blue);
	text-decoration: none;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
footer .bot a, footer .bot p {
	text-align: center;
	color: var(--white-text);
}
footer .bot a:hover, footer .social-media a:hover {
	color: var(--bright-green);
}
footer .bot h4 {
	font-size: 18px;
	color: var(--white-text);
	font-weight: 300;
}
footer .bot :is(p, a) {
	font-size: 12px;
}
@media screen and (min-width: 512px) {
	.hidden {
		display: initial;
	}
	.desktop {
		display: block;
	}
	.only-mobile {
		display: none;
	}
	.container {
		max-width: 1024px;
	}
	section:nth-child(n+3) {
		text-align: left;
	}
	.head_container {
		padding: 10px 15px;
	}
	section.main-banner {
		min-height: 1071px;
	}
	.banner-content .right img, section.ninth-section img {
		max-width: 75%;
	}
	.eighth-section .left {
		display: inherit;
	}
	.eighth-section .left img {
		max-width: 185px;
		margin: 0 auto;
	}
	section.ninth-section {
		text-align: center;
	}
	section.ninth-section p {
		text-align: center;
	}
}
@media screen and (min-width: 758px) {
		section:nth-child(n+3) .wrapper {
		flex-direction: row;
	}
	section:nth-child(n+3) .wrapper.reverse-desktop {
		flex-direction: row-reverse;
	}
	section:nth-child(n+3) .wrapper .left,section:nth-child(n+3) .wrapper .right {
		width: 50%
	}
	section:nth-child(n+3) .wrapper .right {
		padding-left: 3%;
	}
	section:nth-child(n+3) .wrapper.reverse-desktop .right {
		padding-left: 0;
		padding-right: 3%;
	}
}
@media screen and (min-width: 1024px) {
	p, ul, ul li, a, .dots {
		font-size: 18px;
	}
	h1 {
		font-size: 33px;
	}
	section .wrapper {
		flex-direction: row;
	}
	.awards {
		overflow-y: visible;
	}
	.desk-s {
		display: block;
	}
	.only-tablet {
		display: none;
	}
	.banner-content .wrapper {
		padding: 150px 0;
	}
	section.main-banner {
		min-height: unset;
	}
	.bg-banner-img img {
		height: 700px;
	}
	.bg-banner-img {
		left: 10vw;
	}
	.o-desktop {
		display: flex;
	}
	.fourth-wrapper .left img:nth-child(odd), .screens-wrapper .img-wrapper img:nth-child(odd) {
		width: 200px;
	}
	.phones-wrapper, .eighth-section .left img {
		max-width: 248px;
	}
	.screens-wrapper .img-wrapper img {
		width: 248px;
	}

	section.ninth-section p {
		max-width: 700px;
		margin: 0 auto 20px;
	}
	.screens-wrapper .img-wrapper.three-screens img:nth-child(1) {
    margin-right: -75px;
}
	.screens-wrapper .img-wrapper.three-screens img:nth-child(3) {
		margin-left: -75px;
	}
}
@media screen and (max-width: 375px) {
	.buttons svg {
		height: 40px;
	}

}